.Editor{
    position:fixed;
    right:0;
    bottom:0;
    background-color:white;
    min-width:400px;
    height: 540px;;
    margin-right:1%;
    border-radius:7px;
    box-shadow: rgba(0, 0, 0, 0.192) 0px 5px 15px;
    overflow:hidden;
    z-index:122;
    bottom: 21px !important;
}
.Editor.hiden {
    display: none;
}
.markdownEditor textarea {
    height: 350px;
}
.header-edit{
    background-color:#FF563F;
    height:9%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-inline-start:5%;
    padding-inline-end:2%;
    margin-bottom:2%;

}
.header-edit p{
    color:#fff;
    font-size:15px;
}
.closeBtn{
    color:#fff;
    font-size: 20px;
    cursor: pointer;
    padding:6px;
    transition:.3s;
    border-radius:100%;
}
.closeBtn:hover{
    background-color:rgba(128, 128, 128, 0.11);
}
.inputEditor{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    padding-inline-start:5%;

    padding-inline-end:2%;
    grid-column-gap:2%;

    height:36px;
}
.inputEditor .input1{
    border:none;
    outline:none;
    font-size:14px;
    padding:6px;
    width:78%;
}
.inputEditor .input1::placeholder{
    font-size:14px;
}
.inputEditor .input2{
    border:none;
    outline:none;
    font-size:16px;
    color:rgb(58, 58, 58);
    width:100%;
    font-family:"RobotoRegular";
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.inputEditor .input2::placeholder{
    font-size:14px;
}
.markdownEditor{
    width:100%;
    height:100%;
}
textarea{
    width:90%;
    height:49%;
    padding-inline-start:5%;
    resize:none;
    outline:none;
    border:none;
    overflow-x:hidden;
    overflow-y:scroll;
    text-align:justify;
    font-size:16px;
    padding-top:2%;

}
.view{
    padding-inline-start:5%;
    height:59%;
    max-width:90%;
    overflow-x:hidden;
    overflow-y:scroll;
    text-align:justify;
    padding-top:2%;
}
.view h1,.view h2{
    font-size:14px;
    font-family:"RobotoRegular";
    
}
.view p{
    font-size:17px;
    font-family:"RobotoRegular";

}
.toolBoxEditor{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-inline:4%;
}
.toolBoxS{
    display:flex;
    align-items:center;
    justify-content:flex-start;
}


.toolBoxS .mediumRegular{
    background-color:#FF563F;
    border-color: #FF563F;
}

.toolBoxS .mediumRegular:hover{
    border-color: #FF563F;
}

.tool-icn{
    font-size:19px;
    color:#272727;
    cursor: pointer;
    transition:.1s;
    padding:3px;
    border-radius:100%;
}
.tool-icn:hover{
    background-color:rgba(128, 128, 128, 0.11);
}
.toolBoxEditor button{
    display:flex;
    align-items:center;
    justify-content:center;
    grid-column-gap:6px;
    background-color:#0b57d0;
    width: 76px;
    padding:8px;
    margin-right:7%;
    border-radius:32px;
    border:none;
    color:white;
    cursor: pointer;
    transition:.1s;
    opacity: 1;
}
.toolBoxEditor button:hover{
    opacity: 1;
}
.toolBoxEditor button span:nth-child(2){
    font-size:17px;
}
.valid-addr{
    background-color:#0b57d018;
    color:#0b57d0 !important;
    border-radius:23px;
    padding:6px;
    border: 1px solid #0b57d03f !important;
}
.valid-addr:hover{
    text-decoration:underline;
}
.tool-icn {
    display:none;
}